/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
	width: 100%;
}

.sidenav.header {
	margin-bottom: 7px;
	margin-bottom: 7px;
}

.tos {
	width: 75%;
}

body {
	font-family: 'Inconsolata', monospace;
}

html, body {
    height:100%;
}

.coinflip-row-avatar {
	width: 40px;
	height: 40px;
}

.ct-bg {
	border: 1px solid #00b3e2;
	--box-shadow: 0 6px 20px 1px rgba(14, 13, 21, .58);
}

#mcs {
	height: 480px;
	line-height: 20px;
	text-align: left;
}

#chatinput {
	margin-top: 20px;
}

.avatar {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	position: relative;
	top: -10px;
	float: left;
	left: -5px;
}

.sits {
	position: relative;
	top: -3px;
	float: right;
}

.coinflip-row-item {
	width: 60.34px;
	height: 40px;
}

/* On normal screens */
@media screen and (min-width: 768px) {
	.vertical-align {
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;
	}
}

/* On small screens, set height to 'auto' for sidenav and grid
   Also fix the stuff on the coinflips jumbotron */
@media screen and (max-width: 767px) {
	.sidenav {
	height: auto;
	padding: 15px;
	}
	.row.content {height:auto;}
	.vertical-align {text-align: center;}
}