<div class="container tos">
	<div class="text-center">
		<h2>Frequently Asked Questions</h2>
	</div>
	<div class="text-left">
		<h3>What do I do?</h3>
		<p>Well, there's only one thing <em>to</em> do. It's elementary.</p>
	</div>
</div>