<div class="text-left">
	<div class="jumbotron">
		<div class="container">
			<div class="row vertical-align">
				<div class="col-sm-2">
					<h4>Games</h4>
					<p>0</p>
				</div>
				<div class="col-sm-2">
					<h4>In Game</h4>
					<p>$0.00</p>
				</div>
				<div class="col-sm-2">
					<h4>Biggest</h4>
					<p>$0.00</p>
				</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-block btn-primary">CREATE GAME</button>
				</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-block btn-default">MANAGE OFFERS</button>
				</div>
			</div>
		</div>
	</div>
	<table class="table table-striped">
	<thead>
		<tr>
			<th>Players</th>
			<th>Items/Skins</th>
			<th>Value</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
			<td>Mark</td>
			<td>Otto</td>
		</tr>
		<tr>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
			<td>Mark</td>
			<td>Otto</td>
		</tr>
		<tr>
			<td>Larry</td>
			<td>the Bird</td>
			<td>@twitter</td>
			<td>Mark</td>
			<td>Otto</td>
		</tr>
	</tbody>
	</table>
</div>