<div class="container tos">
	<div class="text-center">
		<h2>Provably Fair</h2>
	</div>
	<div class="text-left">
		<h3>What is Provably fair?</h3>
		<p>Probably fair makes it so neither the client <em>nor</em> the server can fix the bet.</p>
	</div>
</div>