<div class="container tos">
	<div class="text-center">
		<h2>Support</h2>
	</div>
	<div class="text-left">
		<h3>Send DM to @cs_optic on Twitter and we'll get back to you ASAP.</h3>
		<p>Please have patience. We're a team of two.</p>
	</div>
</div>